* text=auto
.env.example text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.dockerignore text eol=lf
*.lock text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.sql text eol=lf
*.mako text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
